---
import type { ImageMetadata } from 'astro';
import Image from '~/components/common/Image.astro';

import { APP_STORE } from 'astrowind:config';
import type { Product } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { Icon } from 'astro-icon/components';

export interface Props {
  product: Product;
}

const { product } = Astro.props;
const image = (await findImage(product.image)) as ImageMetadata | undefined;

const link = APP_STORE?.product?.isEnabled ? getPermalink(product.permalink, 'product') : '';
---

<article class={`max-w-md mx-auto md:max-w-none flex gap-2 flex-col`}>
  {
    image ? (
      link ? (
        <a class="group relative block" href={link ?? 'javascript:void(0)'}>
          <div class="relative h-0 overflow-hidden rounded-xl bg-gray-400 pb-[130%] shadow-lg md:h-72 md:pb-[130%] lg:pb-[56.25%]">
            {image && (
              <Image
                src={image}
                class="absolute inset-0 mb-6 h-full w-full rounded-xl bg-gray-400 object-cover shadow-lg"
                widths={[400, 900]}
                width={900}
                sizes="(max-width: 900px) 400px, 900px"
                alt={product.title}
                aspectRatio="square"
                loading="lazy"
                decoding="async"
              />
            )}
          </div>
        </a>
      ) : (
        <div class="relative h-0 overflow-hidden rounded-xl bg-gray-400 pb-[130%] shadow-lg md:h-72 md:pb-[130%] lg:pb-[56.25%]">
          {image && (
            <Image
              src={image}
              class="absolute inset-0 mb-6 h-full w-full rounded-xl bg-gray-400 object-cover shadow-lg"
              widths={[400, 900]}
              width={900}
              sizes="(max-width: 900px) 400px, 900px"
              alt={product.title}
              aspectRatio="square"
              loading="lazy"
              decoding="async"
            />
          )}
        </div>
      )
    ) : link ? (
      <a class="group relative block" href={link ?? 'javascript:void(0)'} aria-label={product.title}>
        <div class="relative flex items-center justify-center overflow-hidden rounded-xl bg-purple-100 pb-[130%] shadow-lg md:h-72 md:pb-[130%] lg:pb-[56.25%]">
          <div class="absolute inset-0 grid place-items-center">
            <Icon name="tabler:photo-x" class="text-primary h-12 w-12" />
          </div>
        </div>
      </a>
    ) : (
      <div class="relative flex items-center justify-center overflow-hidden rounded-xl bg-purple-100 pb-[130%] shadow-lg md:h-72 md:pb-[130%] lg:pb-[56.25%]">
        <div class="absolute inset-0 grid place-items-center">
          <Icon name="tabler:photo-x" class="text-primary h-12 w-12" />
        </div>
      </div>
    )
  }
  <div class="mt-2">
    <header>
      <h2 class="text-lg leading-tight font-semibold sm:text-xl">
        {
          link ? (
            <a class="hover:text-primary inline-block transition duration-200 ease-in" href={link}>
              {product.title}
            </a>
          ) : (
            product.title
          )
        }
      </h2>
      {
        product.price && (
          <span
            class="text-muted"
            set:text={new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(product.price)}
          />
        )
      }
    </header>
  </div>
</article>
