---
import { getHomePermalink } from '~/utils/permalinks';
import SocialLink from '../ui/SocialLink.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '' } = Astro.props;
---

<footer class:list={['not-prose relative border-t border-gray-100 print:hidden']}>
  <div class="pointer-events-none absolute inset-0" aria-hidden="true"></div>
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-4 gap-y-8 py-8 sm:gap-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="font-heading inline-flex flex-col flex-nowrap text-xl" href={getHomePermalink()}>
            <svg class="h-10" viewBox="0 0 565 115" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Grupo Escoteiro Albert Schweitzer</title>
              <path
                d="M11.81 38.09C14.57 39.68 17.65 40.48 21.04 40.48C24.43 40.48 27.29 39.73 29.93 38.22C32.57 36.72 34.68 34.66 36.25 32.06C37.82 29.46 38.7 26.55 38.87 23.33V20.66H19.57V23.65H34.99C34.81 26.38 34.11 28.76 32.87 30.81C31.63 32.86 29.99 34.43 27.94 35.53C25.89 36.63 23.6 37.18 21.04 37.18C18.31 37.18 15.86 36.55 13.7 35.29C11.53 34.03 9.82 32.23 8.56 29.89C7.3 27.55 6.67001 24.84 6.67001 21.76C6.67001 18.68 7.3 15.98 8.56 13.66C9.82 11.34 11.53 9.54003 13.7 8.28003C15.87 7.02003 18.32 6.39001 21.04 6.39001C23.94 6.39001 26.47 7.08002 28.62 8.46002C30.77 9.84002 32.37 11.74 33.42 14.15H37.72C36.39 10.65 34.26 7.92997 31.32 5.96997C28.38 4.00997 24.96 3.03003 21.04 3.03003C17.65 3.03003 14.57 3.82998 11.81 5.41998C9.05 7.00998 6.87 9.23002 5.28 12.08C3.69 14.93 2.89001 18.16 2.89001 21.76C2.89001 25.36 3.68 28.59 5.28 31.44C6.87 34.29 9.05 36.51 11.81 38.1V38.09Z"
                fill="#63626B"></path>
              <path
                d="M58.07 14.78H59.07V10.95C56.66 10.95 54.62 11.44 52.96 12.42C51.3 13.4 50.07 14.78 49.26 16.56V11.47H45.59V40.1H49.26V24.1C49.26 20.74 50.06 18.35 51.67 16.92C53.28 15.49 55.41 14.77 58.07 14.77V14.78Z"
                fill="#63626B"></path>
              <path
                d="M75.95 40.58C78.12 40.58 80.08 40.11 81.82 39.16C83.57 38.22 84.86 36.85 85.7 35.07V40.1H89.37V11.47H85.7V27.05C85.7 30.44 84.88 33.01 83.24 34.76C81.6 36.51 79.39 37.38 76.63 37.38C73.87 37.38 71.81 36.56 70.26 34.92C68.7 33.28 67.93 30.9 67.93 27.79V11.48H64.31V28.21C64.31 32.23 65.39 35.3 67.56 37.41C69.73 39.53 72.52 40.58 75.95 40.58Z"
                fill="#63626B"></path>
              <path
                d="M124.64 33.5C125.81 31.26 126.4 28.67 126.4 25.74C126.4 22.81 125.81 20.23 124.64 18C123.47 15.78 121.84 14.07 119.76 12.86C117.68 11.65 115.35 11.05 112.76 11.05C110.03 11.05 107.68 11.69 105.71 12.96C103.73 14.24 102.29 15.84 101.38 17.76V11.47H97.76V53.64H101.38V33.82C102.29 35.74 103.74 37.34 105.73 38.62C107.72 39.9 110.06 40.53 112.76 40.53C115.46 40.53 117.68 39.92 119.76 38.69C121.84 37.47 123.47 35.74 124.64 33.5ZM117.49 35.94C115.88 36.87 114.06 37.33 112.04 37.33C110.02 37.33 108.29 36.86 106.66 35.91C105.03 34.97 103.75 33.62 102.81 31.87C101.87 30.12 101.39 28.09 101.39 25.79C101.39 23.49 101.86 21.46 102.81 19.71C103.75 17.96 105.04 16.62 106.66 15.67C108.29 14.73 110.08 14.25 112.04 14.25C114 14.25 115.89 14.7 117.49 15.61C119.1 16.52 120.37 17.84 121.29 19.57C122.22 21.3 122.68 23.36 122.68 25.73C122.68 28.1 122.22 30.13 121.29 31.89C120.36 33.66 119.1 35 117.49 35.93V35.94Z"
                fill="#63626B"></path>
              <path
                d="M138.44 38.72C140.59 39.93 143.01 40.53 145.7 40.53C148.39 40.53 150.84 39.93 153.04 38.72C155.24 37.51 156.97 35.79 158.23 33.55C159.49 31.31 160.12 28.72 160.12 25.79C160.12 22.86 159.5 20.22 158.26 18C157.02 15.78 155.3 14.07 153.12 12.86C150.93 11.65 148.5 11.05 145.8 11.05C143.1 11.05 140.68 11.65 138.51 12.86C136.34 14.07 134.63 15.78 133.37 18C132.11 20.22 131.48 22.82 131.48 25.79C131.48 28.76 132.1 31.36 133.34 33.58C134.58 35.8 136.28 37.51 138.43 38.72H138.44ZM136.65 19.42C137.61 17.69 138.9 16.4 140.5 15.54C142.11 14.68 143.86 14.26 145.74 14.26C147.62 14.26 149.38 14.69 150.98 15.54C152.59 16.4 153.88 17.69 154.86 19.42C155.84 21.15 156.33 23.27 156.33 25.79C156.33 28.31 155.83 30.43 154.84 32.16C153.84 33.89 152.54 35.18 150.93 36.04C149.32 36.9 147.57 37.32 145.69 37.32C143.81 37.32 142.06 36.89 140.47 36.04C138.88 35.18 137.6 33.89 136.64 32.16C135.68 30.43 135.2 28.31 135.2 25.79C135.2 23.27 135.68 21.15 136.64 19.42H136.65Z"
                fill="#63626B"></path>
              <path
                d="M181.2 40.11H200.35V37.07H184.88V23.17H198.77V20.13H184.88V6.44H200.35V3.40002H181.2V40.11Z"
                fill="#63626B"></path>
              <path
                d="M226.15 36.62C226.99 35.41 227.41 34.04 227.41 32.5C227.37 30.82 226.92 29.48 226.05 28.46C225.18 27.45 224.13 26.68 222.9 26.15C221.68 25.63 220.03 25.08 217.97 24.52C216.26 24.03 214.89 23.59 213.88 23.18C212.87 22.78 212.02 22.22 211.34 21.5C210.66 20.78 210.32 19.87 210.32 18.75C210.32 17.46 210.9 16.37 212.05 15.5C213.2 14.63 214.71 14.19 216.56 14.19C218.66 14.19 220.31 14.71 221.52 15.74C222.73 16.77 223.38 18.13 223.49 19.8H227.16C227.02 17.07 226.01 14.93 224.12 13.38C222.23 11.82 219.75 11.05 216.67 11.05C214.71 11.05 212.96 11.4 211.43 12.1C209.89 12.8 208.7 13.74 207.86 14.93C207.02 16.12 206.6 17.41 206.6 18.81C206.6 20.66 207.06 22.14 207.99 23.24C208.92 24.34 210.04 25.17 211.37 25.73C212.7 26.29 214.43 26.85 216.56 27.41C218.2 27.83 219.51 28.22 220.47 28.59C221.43 28.96 222.23 29.46 222.86 30.08C223.49 30.71 223.8 31.51 223.8 32.49C223.8 33.89 223.23 35.06 222.1 36C220.96 36.94 219.4 37.42 217.41 37.42C215.14 37.42 213.33 36.92 211.98 35.93C210.63 34.93 209.87 33.63 209.7 32.02H205.92C206.16 34.64 207.33 36.71 209.41 38.23C211.49 39.75 214.17 40.51 217.46 40.51C219.42 40.51 221.15 40.16 222.65 39.46C224.15 38.76 225.32 37.81 226.16 36.6L226.15 36.62Z"
                fill="#63626B"></path>
              <path
                d="M255.78 30.77C255.29 32.87 254.23 34.5 252.61 35.67C250.98 36.84 248.97 37.43 246.55 37.43C244.63 37.43 242.9 36.99 241.36 36.12C239.82 35.25 238.61 33.94 237.72 32.19C236.83 30.44 236.38 28.31 236.38 25.79C236.38 23.27 236.83 21.15 237.72 19.42C238.61 17.69 239.83 16.39 241.36 15.51C242.9 14.64 244.63 14.2 246.55 14.2C248.96 14.2 250.98 14.79 252.61 15.96C254.24 17.13 255.29 18.75 255.78 20.81H259.71C259.05 17.8 257.57 15.43 255.28 13.68C252.99 11.93 250.08 11.06 246.55 11.06C243.86 11.06 241.46 11.66 239.36 12.87C237.26 14.08 235.62 15.79 234.43 18.01C233.24 20.23 232.65 22.83 232.65 25.8C232.65 28.77 233.24 31.37 234.43 33.59C235.62 35.81 237.26 37.52 239.36 38.73C241.46 39.94 243.85 40.54 246.55 40.54C250.05 40.54 252.95 39.65 255.26 37.87C257.57 36.09 259.05 33.73 259.72 30.79H255.79L255.78 30.77Z"
                fill="#63626B"></path>
              <path
                d="M286.43 12.86C284.24 11.65 281.81 11.05 279.11 11.05C276.41 11.05 273.99 11.65 271.82 12.86C269.65 14.07 267.94 15.78 266.68 18C265.42 20.22 264.79 22.82 264.79 25.79C264.79 28.76 265.41 31.36 266.65 33.58C267.89 35.8 269.59 37.51 271.74 38.72C273.89 39.93 276.31 40.53 279 40.53C281.69 40.53 284.14 39.93 286.34 38.72C288.54 37.51 290.27 35.79 291.53 33.55C292.79 31.31 293.42 28.72 293.42 25.79C293.42 22.86 292.8 20.22 291.56 18C290.32 15.78 288.6 14.07 286.42 12.86H286.43ZM288.16 32.16C287.16 33.89 285.86 35.18 284.25 36.04C282.64 36.9 280.89 37.32 279.01 37.32C277.13 37.32 275.38 36.89 273.79 36.04C272.2 35.18 270.92 33.89 269.96 32.16C269 30.43 268.52 28.31 268.52 25.79C268.52 23.27 269 21.15 269.96 19.42C270.92 17.69 272.21 16.4 273.81 15.54C275.42 14.68 277.17 14.26 279.05 14.26C280.93 14.26 282.69 14.69 284.29 15.54C285.9 16.4 287.19 17.69 288.17 19.42C289.15 21.15 289.64 23.27 289.64 25.79C289.64 28.31 289.14 30.43 288.15 32.16H288.16Z"
                fill="#63626B"></path>
              <path
                d="M301.2 32.35C301.2 35.11 301.83 37.1 303.09 38.3C304.35 39.51 306.27 40.11 308.86 40.11H312.79V36.96H309.43C307.75 36.96 306.58 36.63 305.92 35.96C305.26 35.3 304.92 34.09 304.92 32.34V14.56H312.79V11.47H304.92V4.28998H301.2V11.47H297.21V14.56H301.2V32.34V32.35Z"
                fill="#63626B"></path>
              <path
                d="M323.96 38.72C326.09 39.93 328.5 40.53 331.2 40.53C334.66 40.53 337.54 39.65 339.83 37.88C342.12 36.11 343.61 33.83 344.31 31.04H340.43C339.91 33 338.83 34.55 337.2 35.71C335.57 36.86 333.57 37.44 331.2 37.44C329.38 37.44 327.7 37.05 326.17 36.26C324.63 35.47 323.39 34.31 322.45 32.77C321.51 31.23 320.98 29.38 320.88 27.21H344.64C344.71 26.55 344.74 25.58 344.74 24.33C344.74 21.88 344.19 19.65 343.09 17.64C341.99 15.63 340.42 14.03 338.37 12.84C336.32 11.65 333.94 11.06 331.21 11.06C328.48 11.06 326.05 11.66 323.92 12.84C321.79 14.03 320.13 15.74 318.94 17.98C317.75 20.22 317.16 22.82 317.16 25.79C317.16 28.76 317.76 31.36 318.97 33.58C320.18 35.8 321.85 37.51 323.98 38.72H323.96ZM324.06 16.82C325.98 15.07 328.31 14.2 331.04 14.2C332.86 14.2 334.54 14.59 336.07 15.35C337.61 16.12 338.82 17.26 339.72 18.76C340.61 20.26 341.04 22.08 341 24.21H320.86C321.07 21.03 322.14 18.56 324.06 16.82Z"
                fill="#63626B"></path>
              <path d="M355.11 11.47H351.44V40.1H355.11V11.47Z" fill="#63626B"></path>
              <path
                d="M353.27 6.07001C354 6.07001 354.63 5.81003 355.16 5.28003C355.68 4.76003 355.95 4.11003 355.95 3.34003C355.95 2.57003 355.69 1.92999 355.16 1.42999C354.64 0.919993 354.01 0.669983 353.27 0.669983C352.53 0.669983 351.91 0.919993 351.38 1.42999C350.86 1.93999 350.59 2.58003 350.59 3.34003C350.59 4.10003 350.85 4.76003 351.38 5.28003C351.9 5.80003 352.53 6.07001 353.27 6.07001Z"
                fill="#63626B"></path>
              <path
                d="M367.12 24.11C367.12 20.75 367.92 18.36 369.53 16.93C371.14 15.5 373.27 14.78 375.93 14.78H376.93V10.95C374.52 10.95 372.48 11.44 370.82 12.42C369.16 13.4 367.93 14.78 367.12 16.56V11.47H363.45V40.1H367.12V24.1V24.11Z"
                fill="#63626B"></path>
              <path
                d="M387.7 38.72C389.85 39.93 392.27 40.53 394.96 40.53C397.65 40.53 400.1 39.93 402.3 38.72C404.5 37.51 406.23 35.79 407.49 33.55C408.75 31.31 409.38 28.72 409.38 25.79C409.38 22.86 408.76 20.22 407.52 18C406.28 15.78 404.56 14.07 402.38 12.86C400.19 11.65 397.76 11.05 395.06 11.05C392.36 11.05 389.94 11.65 387.77 12.86C385.6 14.07 383.89 15.78 382.63 18C381.37 20.22 380.74 22.82 380.74 25.79C380.74 28.76 381.36 31.36 382.6 33.58C383.84 35.8 385.54 37.51 387.69 38.72H387.7ZM385.92 19.42C386.88 17.69 388.17 16.4 389.77 15.54C391.38 14.68 393.13 14.26 395.01 14.26C396.89 14.26 398.65 14.69 400.25 15.54C401.86 16.4 403.15 17.69 404.13 19.42C405.11 21.15 405.6 23.27 405.6 25.79C405.6 28.31 405.1 30.43 404.11 32.16C403.11 33.89 401.81 35.18 400.2 36.04C398.59 36.9 396.84 37.32 394.96 37.32C393.08 37.32 391.33 36.89 389.74 36.04C388.15 35.18 386.87 33.89 385.91 32.16C384.95 30.43 384.47 28.31 384.47 25.79C384.47 23.27 384.95 21.15 385.91 19.42H385.92Z"
                fill="#63626B"></path>
              <path
                d="M20.57 65.3L0.869995 113.86H10.65C13.36 107.06 20.99 106.16 29.94 106.16H36.11L39.23 113.86H49.01L29.31 65.3H20.57ZM29.93 97.83C24.45 97.83 19.66 98.73 15.57 101.71L24.94 78.54L32.71 97.83H29.93Z"
                fill="#63626B"></path>
              <path
                d="M68 106.49C66.81 106.54 65.44 106.59 64.28 106.49C63.22 106.4 62.32 106.17 61.69 105.84C61.04 105.49 60.58 105.07 60.15 104.39C59.94 104.09 59.76 103.69 59.58 103.26L59.56 103.23C59.35 102.67 59.21 102.2 59.09 101.73C58.84 100.74 58.66 99.56 58.56 98.25C58.48 97.14 58.46 95.93 58.48 94.43L58.86 76.35C59.03 70.77 59.17 65.19 59.31 59.48V59.04L51.58 58.71L51.56 59.16C51.29 65.14 51.05 70.53 50.84 76.08L50.36 94.25C50.32 97.17 50.41 100.34 51.26 103.73C51.76 105.68 52.48 107.34 53.45 108.81C54.1 109.77 54.76 110.54 55.48 111.17C56.27 111.87 57.18 112.49 58.13 112.96C60.21 113.99 62.3 114.23 63.7 114.33C64.21 114.36 64.7 114.37 65.18 114.37C66.35 114.37 67.43 114.3 68.42 114.23L68.87 114.2L68.43 106.47L67.98 106.49H68Z"
                fill="#63626B"></path>
              <path
                d="M92.86 75.29C86.62 75.29 81.9 78.76 79.47 83.13V61.28H70.73V113.87H79.47V107.07C81.9 111.44 86.62 114.91 92.86 114.91C116.45 114.91 116.45 75.3 92.86 75.3V75.29ZM90.64 106.99C83.01 106.99 79.47 100.88 79.47 95.06C79.47 89.24 83.01 83.2 90.64 83.2C104.93 83.2 104.93 107 90.64 107V106.99Z"
                fill="#63626B"></path>
              <path
                d="M131.78 106.78C129.07 106.78 126.72 105.46 125.12 103.03L140.8 96.37C146.35 93.94 147.46 90.68 147.46 86.59C147.46 79.65 141.77 74.59 131.71 75.28C123.25 75.9 114.02 81.66 114.02 95.12C114.02 106.5 120.89 114.89 132.13 114.89C142.33 114.89 148.16 110.1 148.16 100.81H139.07C139.07 105.04 135.88 106.78 131.79 106.78H131.78ZM123.1 95.13C123.1 86.46 128.1 83.13 132.47 83.13C135.8 83.13 138.71 85.07 138.71 88.06C138.71 89.86 137.53 90.56 136.07 91.18L123.17 96.73C123.1 96.18 123.1 95.69 123.1 95.13Z"
                fill="#63626B"></path>
              <path
                d="M153 88.05V113.86H161.74V90.83C161.74 86.6 163.2 84.66 167.91 84.66H178.52V76.4H164.64C157.7 76.4 152.98 81.12 152.98 88.06L153 88.05Z"
                fill="#63626B"></path>
              <path
                d="M190.54 101.93V83.96H198.17V76.4H190.54V69.25H181.8V104.77C181.8 111.64 186.93 113.86 191.65 113.86H199.28V105.95H194.56C192.2 105.95 190.54 104.56 190.54 101.93Z"
                fill="#63626B"></path>
              <path
                d="M226.96 78.48C226.96 74.94 230.84 72.93 236.05 72.93C241.53 72.93 245.97 75.15 245.97 79.94H254.64C254.64 69.6 247.49 64.26 235.98 64.26C226.2 64.26 218.36 69.19 218.36 79.59C218.36 97.91 246.87 91.18 246.87 101.37C246.87 104.77 242.5 106.23 237.37 106.23C232.24 106.23 226.82 104.15 226.82 99.57H218.08C218.08 110.18 228 114.9 237.37 114.9C247.64 114.9 255.41 111.22 255.41 101.37C255.41 82.01 226.97 89.85 226.97 78.48H226.96Z"
                fill="#63626B"></path>
              <path
                d="M276.84 83.89C281.21 83.89 284.12 85.62 284.12 89.86H293.21C293.21 80.56 286.55 75.29 277.18 75.29C265.66 75.29 259.07 83.68 259.07 95.06C259.07 106.44 265.66 114.9 277.18 114.9C286.55 114.9 293.21 109.63 293.21 100.33H284.12C284.12 104.56 281.21 106.3 276.84 106.3C271.43 106.3 268.17 102.55 268.17 95.06C268.17 87.57 271.43 83.89 276.84 83.89Z"
                fill="#63626B"></path>
              <path
                d="M320.27 75.29C314.93 75.29 310 78.62 307.16 84.1V61.28H298.42V113.87H307.16V94.65C307.16 87.3 312.16 83.13 317.22 83.13C321.8 83.13 326.03 86.32 326.03 92.36V113.87H334.7V90.84C334.7 80.5 327.83 75.3 320.27 75.3V75.29Z"
                fill="#63626B"></path>
              <path
                d="M379.87 76.0901L379.77 96.61C379.74 98.2 379.59 99.6101 379.33 100.78C379.05 102.01 378.61 103.05 378.06 103.78C377.51 104.51 376.9 104.95 376.05 105.23C375.92 105.26 375.8 105.3 375.67 105.33C375.54 105.37 375.42 105.41 375.29 105.43L374.46 105.57C374.11 105.61 373.64 105.57 373.17 105.48C372.16 105.28 370.97 104.8 369.82 104.13C369.22 103.77 368.62 103.36 368.04 102.91L368.1 102.82C368.25 102.56 368.4 102.3 368.56 102.04C368.89 101.48 369.24 100.9 369.54 100.3L370.46 98.35C370.53 98.2 370.59 98.04 370.65 97.88L370.73 97.68C371.43 95.94 371.99 94.11 372.41 92.22L372.82 90.17C372.85 90.01 372.88 89.82 372.9 89.64C372.9 89.56 372.92 89.48 372.93 89.39L373.03 88.62C373.05 88.43 373.06 88.23 373.07 88.04V87.8401C373.13 87.2901 373.11 86.73 373.1 86.21C373.1 85.78 373.05 85.34 373 84.91L372.95 84.47L372.88 84.11C372.8 83.66 372.71 83.19 372.56 82.73C372.19 81.4 371.62 80.2 370.87 79.18C369.98 77.95 368.83 76.9501 367.54 76.2801C366.16 75.5601 364.54 75.21 362.99 75.3C361.51 75.37 360.03 75.83 358.72 76.61C357.58 77.29 356.56 78.2 355.69 79.32C354.96 80.25 354.37 81.3001 353.9 82.5301C353.45 83.6401 353.2 84.75 353 85.81L352.97 86C352.91 86.45 352.84 86.9201 352.81 87.4001C352.81 87.5501 352.79 87.71 352.78 87.87C352.76 88.23 352.74 88.59 352.74 88.94C352.74 90.03 352.79 91.02 352.9 91.96C353.13 93.95 353.6 95.92 354.31 97.82C354.94 99.55 355.83 101.29 356.96 102.99C356.48 103.36 355.97 103.7 355.46 104L354.62 104.46L353.75 104.82L352.74 105.15C352.66 105.18 352.58 105.2 352.54 105.22L352.1 105.29C350.97 105.5 350.06 105.46 349.17 105.17C349.05 105.13 348.93 105.08 348.81 105.05C348.79 105.05 348.76 105.03 348.73 105.01C348.68 104.98 348.64 104.96 348.59 104.93C348.54 104.9 348.49 104.88 348.44 104.86C348.42 104.86 348.4 104.84 348.38 104.83C348.29 104.76 348.19 104.69 348.06 104.61C348.04 104.59 348.02 104.57 348 104.56L347.95 104.51C347.95 104.51 347.86 104.42 347.81 104.38C347.79 104.36 347.77 104.35 347.75 104.33C347.69 104.25 347.63 104.18 347.57 104.1C347.5 104.02 347.45 103.96 347.41 103.89L347.38 103.84C346.89 103.1 346.51 101.98 346.31 100.71C346.11 99.51 346 98.08 345.99 96.36V95.19L346.55 75.96L339.38 75.63L337.84 95.06V96.4001C337.84 97.9001 337.88 99.91 338.23 102.07C338.64 104.55 339.36 106.55 340.5 108.32C340.75 108.75 341.08 109.14 341.4 109.52C341.49 109.63 341.58 109.74 341.69 109.87C341.86 110.06 342.05 110.23 342.24 110.41L342.45 110.61C342.68 110.82 342.91 111.04 343.17 111.21C343.43 111.4 343.7 111.58 343.96 111.76C344.17 111.91 344.38 112.01 344.58 112.12C344.66 112.16 344.74 112.2 344.84 112.25C344.92 112.29 345 112.33 345.07 112.37C345.28 112.48 345.49 112.59 345.72 112.67L346.55 112.97C347 113.15 347.43 113.24 347.85 113.32C348 113.35 348.14 113.38 348.29 113.41C348.56 113.48 348.84 113.52 349.22 113.55L350.56 113.66C350.67 113.66 350.77 113.66 350.87 113.66L351.84 113.61C352.39 113.6 352.91 113.51 353.4 113.42L354.39 113.24C354.58 113.19 354.76 113.14 354.94 113.08L356.36 112.65L358.2 111.88L359.56 111.14C360.59 110.54 361.58 109.85 362.5 109.1C363.5 109.91 364.56 110.64 365.65 111.29C367.71 112.47 369.61 113.21 371.61 113.6C372.48 113.77 373.31 113.85 374.13 113.85C374.54 113.85 374.94 113.83 375.34 113.79C375.84 113.72 376.32 113.64 376.81 113.55L376.99 113.52C377.41 113.43 377.84 113.31 378.25 113.18C378.39 113.14 378.53 113.1 378.68 113.05C379.11 112.91 379.54 112.72 379.95 112.53C380.08 112.47 380.22 112.41 380.38 112.34C380.96 112.03 381.51 111.68 381.97 111.38L382.01 111.35C382.13 111.25 382.25 111.16 382.37 111.06C382.73 110.77 383.11 110.47 383.44 110.12L383.64 109.91C384 109.53 384.37 109.14 384.66 108.72C385.94 107 386.83 104.99 387.37 102.56C387.75 100.8 387.95 98.95 387.99 96.74V96.05L387.05 76.08H379.88L379.87 76.0901ZM364.8 87.39L364.78 87.83L364.72 88.31C364.71 88.38 364.7 88.45 364.69 88.52C364.69 88.6 364.67 88.69 364.65 88.79L364.32 90.43C364 91.87 363.58 93.2701 363.05 94.5901L362.98 94.7801C362.94 94.8801 362.91 94.98 362.87 95.07L362.5 95.85C362.36 95.53 362.23 95.21 362.11 94.89C361.64 93.63 361.32 92.32 361.17 90.99C361.1 90.39 361.06 89.73 361.06 88.98C361.06 88.78 361.06 88.6 361.08 88.41C361.08 88.28 361.1 88.1401 361.1 88.0301C361.12 87.8401 361.14 87.65 361.16 87.46C361.18 87.34 361.19 87.22 361.2 87.13C361.41 85.94 361.78 84.96 362.26 84.37C362.73 83.75 363.2 83.57 363.4 83.57C363.4 83.57 363.41 83.57 363.42 83.57C363.64 83.57 363.82 83.6101 364.15 84.0301C364.32 84.2501 364.48 84.59 364.58 84.99L364.6 85.04C364.64 85.14 364.66 85.27 364.69 85.42C364.71 85.51 364.72 85.6 364.74 85.69C364.74 85.8 364.76 85.9 364.77 86.01C364.79 86.17 364.81 86.32 364.81 86.47V86.6C364.82 86.86 364.83 87.1 364.81 87.37L364.8 87.39Z"
                fill="#63626B"></path>
              <path
                d="M408.84 106.78C406.13 106.78 403.78 105.46 402.18 103.03L417.86 96.37C423.41 93.94 424.52 90.68 424.52 86.59C424.52 79.65 418.83 74.59 408.77 75.28C400.31 75.9 391.08 81.66 391.08 95.12C391.08 106.5 397.95 114.89 409.19 114.89C419.39 114.89 425.22 110.1 425.22 100.81H416.13C416.13 105.04 412.94 106.78 408.85 106.78H408.84ZM400.17 95.13C400.17 86.46 405.17 83.13 409.54 83.13C412.87 83.13 415.78 85.07 415.78 88.06C415.78 89.86 414.6 90.56 413.14 91.18L400.24 96.73C400.17 96.18 400.17 95.69 400.17 95.13Z"
                fill="#63626B"></path>
              <path
                d="M434.79 61.27C432.01 61.27 429.8 63.56 429.8 66.33C429.8 69.1 432.02 71.33 434.79 71.33C437.56 71.33 439.79 69.04 439.79 66.33C439.79 63.62 437.57 61.27 434.79 61.27Z"
                fill="#63626B"></path>
              <path d="M439.16 76.4H430.42V113.86H439.16V76.4Z" fill="#63626B"></path>
              <path
                d="M454.14 101.93V83.96H461.77V76.4H454.14V69.25H445.4V104.77C445.4 111.64 450.53 113.86 455.25 113.86H462.88V105.95H458.16C455.8 105.95 454.14 104.56 454.14 101.93Z"
                fill="#63626B"></path>
              <path
                d="M496.88 82.29V76.4H466.15V84.65H483.97L465.45 107.89V113.86H497.23V105.6H478.36L496.88 82.29Z"
                fill="#63626B"></path>
              <path
                d="M517.48 106.78C514.77 106.78 512.42 105.46 510.82 103.03L526.5 96.37C532.05 93.94 533.16 90.68 533.16 86.59C533.16 79.65 527.47 74.59 517.41 75.28C508.95 75.9 499.72 81.66 499.72 95.12C499.72 106.5 506.59 114.89 517.83 114.89C528.03 114.89 533.86 110.1 533.86 100.81H524.77C524.77 105.04 521.58 106.78 517.49 106.78H517.48ZM508.81 95.13C508.81 86.46 513.81 83.13 518.18 83.13C521.51 83.13 524.42 85.07 524.42 88.06C524.42 89.86 523.24 90.56 521.78 91.18L508.88 96.73C508.81 96.18 508.81 95.69 508.81 95.13Z"
                fill="#63626B"></path>
              <path
                d="M550.37 76.4C543.43 76.4 538.71 81.12 538.71 88.06V113.87H547.45V90.84C547.45 86.61 548.91 84.67 553.62 84.67H564.23V76.41H550.35L550.37 76.4Z"
                fill="#63626B"></path>
            </svg>
          </a>
        </div>
        <div class="text-muted flex gap-1 text-sm">
          {
            secondaryLinks.map(({ text, href }, index) => (
              <>
                {index !== 0 ? ' · ' : ''}
                <a
                  class="text-muted decoration-yellow-400 decoration-2 transition duration-150 ease-in-out hover:text-yellow-500 hover:underline"
                  href={href}
                  set:html={text}
                />
              </>
            ))
          }
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="font-heading mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted transition duration-150 ease-in-out hover:text-orange-400 hover:underline"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="py-6 md:flex md:items-center md:justify-between md:py-8">
      {
        socialLinks?.length ? (
          <ul class="mb-4 -ml-2 flex md:order-1 md:mb-0 md:ml-4 rtl:-mr-2 rtl:ml-0 rtl:md:mr-4 rtl:md:ml-0">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <SocialLink ariaLabel={ariaLabel} href={href} text={text} icon={icon} />
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }

      <div class="mr-4 text-sm">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
