---
import { Icon } from 'astro-icon/components';
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import { Image } from 'astro:assets';
import type { Volunteers as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  volunteers = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

{
  volunteers?.length > 0 && (
    <WidgetWrapper
      id={id}
      isDark={isDark}
      containerClass={`max-w-4xl mx-auto lg:py-12 ${classes?.container ?? ''}`}
      bg={bg}
    >
      <Headline title={title} subtitle={subtitle} tagline={tagline} />
      <div class="mx-auto grid gap-8 sm:grid-cols-2 md:gap-y-12 lg:grid-cols-4">
        {volunteers.map(({ name, title, image }) => {
          return (
            <div>
              <div class="flex max-w-md flex-col">
                <div class="overflow-clip rounded-md">
                  {image ? (
                    <Image
                      class="aspect-square w-full rounded-md"
                      loading="eager"
                      widths={[300, 700]}
                      width={700}
                      sizes="(max-width: 700px) 300px, 700px"
                      alt={`${name}, ${title} do GEAS`}
                      src={image}
                    />
                  ) : (
                    <div class="text-primary grid aspect-square h-full place-items-center rounded-md">
                      <Icon name="tabler:user" class="h-32 w-32" />
                    </div>
                  )}
                </div>
                <div class="mt-1">
                  {name && <h3 class="font-heading text-xl font-bold">{name}</h3>}
                  {title && <p class={`${name ? 'text-sm' : ''} text-muted`} set:html={title} />}
                </div>
              </div>
            </div>
          );
        })}
      </div>
    </WidgetWrapper>
  )
}
