---
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getAsset } from '~/utils/permalinks';

const metadata = {
  title: 'Escotismo',
};

const docVersion = '1.3';
const docSize = '3MB';
---

<Layout metadata={metadata}>
  <Steps2
    title="Conhecendo o Movimento Escoteiro"
    subtitle=`O Escotismo é um movimento educacional de jovens e para jovens, que conta
            com a colaboração de adultos voluntários e valoriza a participação de pessoas
            de todas as origens sociais, etnias e credos.<br />Nossa missão é, por meio
            da educação de crianças, adolescentes e jovens, construir um mundo melhor.`
    items={[
      {
        title: 'Propósito',
        description: `Nosso propósito é contribuir para que os jovens assumam o
                seu próprio desenvolvimento, para que alcancem o seu pleno potencial
                como indivíduos, cidadãs e cidadãos responsáveis e membros ativos
                em suas comunidades.`,
        icon: 'tabler:pennant',
      },
      {
        title: 'Princípios',
        description: `Os princípios do Escotismo definem um estilo de vida baseado
                nos valores expressos na Lei e na Promessa&nbsp;Escoteira.<br> São compromissos com a sua espiritualiade, com a natureza, com os demais e consigo mesmo.`,
        icon: 'tabler:anchor',
      },
      {
        title: 'Método Educativo',
        description: `O Método Educativo Escoteiro é a ferramenta que utilizamos
                para criar as condições educativas necessárias para que os
                jovens sejam os protagonistas do seu próprio desenvolvimento.`,
        icon: 'tabler:wand',
      },
    ]}
    classes={{
      container: 'lg:py-12',
    }}
    callToAction={{
      text: 'Projeto Educativo <span class="font-light inline-block ml-1 text-sm">(PDF - 2MB)</span>',
      variant: 'primary',
      href: getAsset('documents/projeto-educativo.pdf'),
      icon: 'tabler:download',
    }}
  />

  <Content
    tagline="Os oito pontos do"
    title="Método Educativo Escoteiro"
    subtitle="Estes elementos podem ser encontrados isoladamente em outras propostas educativas. A originalidade está em integrá-los em um todo."
    image={`<iframe
            src="https://www.youtube-nocookie.com/embed/B7FmNmH0uhE?si=Vl9Q7uc-vw-2QmW9&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            class="w-full aspect-video rounded-md shadow-sm"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>`}
    columns={2}
    isReversed
    classes={{
      container: 'lg:py-12',
    }}
    items={[
      {
        description: 'A Lei e a Promessa Escoteira',
        icon: 'tabler:candle',
        classes: {
          icon: 'bg-amber-600 dark:bg-amber-600',
        },
      },
      {
        description: 'Aprender fazendo',
        icon: 'tabler:play-handball',
        classes: {
          icon: 'bg-green-600 dark:bg-green-500',
        },
      },
      {
        description: 'Progressão pessoal',
        icon: 'tabler:route',
        classes: {
          icon: 'bg-rose-600 dark:bg-rose-400',
        },
      },
      {
        description: 'Sistema de equipes',
        icon: 'tabler:users-group',
        classes: {
          icon: 'bg-indigo-600 dark:bg-indigo-600',
        },
      },
      {
        description: 'Suporte do adulto',
        icon: 'tabler:directions',
        classes: {
          icon: 'bg-sky-600 dark:bg-sky-500',
        },
      },
      {
        description: 'Marco simbólico',
        icon: 'tabler:campfire',
        classes: {
          icon: 'bg-orange-600 dark:bg-orange-400',
        },
      },
      {
        description: 'Natureza',
        icon: 'tabler:tent',
        classes: {
          icon: 'bg-emerald-600 dark:bg-emerald-700',
        },
      },
      {
        description: 'Envolvimento comunitário',
        icon: 'tabler:building-community',
        classes: {
          icon: 'bg-purple-500 dark:bg-purple-500',
        },
      },
    ]}
  />

  <Content
    tagline="6,5 a 10 anos"
    isReversed
    title="Ramo Lobinho"
    image={{ src: '~/assets/images/escultura.jpg', alt: 'Lobinho' }}
    callToAction={{
      text: `Saiba mais <span class="font-light inline-block ml-1 text-sm">(PDF - ${docSize})</span>`,
      variant: 'primary',
      icon: 'tabler:download',
      href: getAsset(`documents/geas-lobinho-v.${docVersion}.pdf`),
      download: 'geas-lobinho.pdf',
    }}
  >
    <Fragment slot="content">
      <p class="mb-4">
        No Ramo Lobinho, aprendemos a viver em grupo e desenvolvemos nossa liderança. <i>O livro da Jângal</i>, que
        conta a história de Mowgli, o menino lobo, inspira a organização dos lobinhos e lobinhas em uma Alcateia,
        dividida em equipes chamadas matilhas, cada uma formada por quatro a seis crianças.
      </p>
      <p class="mb-4">
        É na Alcateia que os lobinhos fazem jogos e realizam outras atividades, trabalham a importância da boa ação
        diária e são incentivados a fazer o Melhor Possível!
      </p>
    </Fragment>
  </Content>

  <Content
    tagline="10 a 14 anos"
    title="Ramo Escoteiro"
    image={{ src: '~/assets/images/caiaque.jpg', alt: 'Escoteiro' }}
    callToAction={{
      text: `Saiba mais <span class="font-light inline-block ml-1 text-sm">(PDF - ${docSize})</span>`,
      variant: 'primary',
      icon: 'tabler:download',
      href: getAsset(`documents/geas-escoteiro-v.${docVersion}.pdf`),
      download: 'geas-escoteiro.pdf',
    }}
  >
    <Fragment slot="content">
      <p class="mb-4">
        Formamos patrulhas de cinco a oito jovens, que juntas formam uma Tropa. Trabalhamos em equipe, aprendemos muito,
        acampamos e organizamos algumas atividades por conta própria, como ir ao cinema, ou participar de uma noite de
        jogos.
      </p>
      <p class="mb-4">
        Cada patrulha elege um monitor, que age como um líder, e tem símbolos, como uma bandeirola, um livro de patrulha
        e cores que a representam. Estamos sempre buscando coisas novas com nosso grupo de amigos.
      </p>
    </Fragment>
  </Content>

  <Content
    tagline="14 a 17 anos"
    isReversed
    title="Ramo Sênior"
    image={{ src: '~/assets/images/rapel.jpg', alt: 'Sênior' }}
    callToAction={{
      text: `Saiba mais <span class="font-light inline-block ml-1 text-sm">(PDF - ${docSize})</span>`,
      variant: 'primary',
      icon: 'tabler:download',
      href: getAsset(`documents/geas-senior-v.${docVersion}.pdf`),
      download: 'geas-senior.pdf',
    }}
  >
    <Fragment slot="content">
      <p class="mb-4">
        O Ramo Sênior nos incentiva a superar nossos próprios desafios. Já nos conhecemos melhor, aceitamos nossas
        características e diferenças e estamos entendendo melhor nossa personalidade. Em patrulhas, a Tropa Sênior vive
        diversas aventuras: acampamentos, escaladas, trilhas e rapel são alguns exemplos.
      </p>
      <p class="mb-4">
        Aprendemos a superar obstáculos, reforçamos os laços com nossos amigos e desenvolvemos o nosso compromisso de
        crescimento pessoal.
      </p>
    </Fragment>
  </Content>

  <Content
    tagline="17 a 21 anos"
    title="Ramo Pioneiro"
    image={{ src: '~/assets/images/horta.jpg', alt: 'Pioneiro' }}
    callToAction={{
      text: `Saiba mais <span class="font-light inline-block ml-1 text-sm">(PDF - ${docSize})</span>`,
      variant: 'primary',
      icon: 'tabler:download',
      href: getAsset(`documents/geas-pioneiro-v.${docVersion}.pdf`),
      download: 'geas-pioneiro.pdf',
    }}
  >
    <Fragment slot="content">
      <p class="mb-4">
        O Clã é o espaço de apoio e desenvolvimento comum dos pioneiros. Seguindo o lema <i>Servir</i>, experimentamos o
        papel real do adulto na sociedade, por meio de atividades de serviço e de desenvolvimento comunitário. Aqui,
        nossos valores e princípios nos orientam a realizar atividades relevantes, colocando à disposição do próximo
        tudo que aprendemos.
      </p>
      <p class="mb-4">
        Nossa rotina, no Ramo Pioneiro, é mais flexível, e isso nos dá bastante responsabilidade. Somos nós que
        organizamos nossas próprias atividades, escrevendo o nosso projeto de vida, um trajeto de aprendizado e
        superação.
      </p>
    </Fragment>
  </Content>

  <Content
    title="Família"
    isReversed
    image={`<iframe
      class="w-full mt-4 aspect-video rounded-md shadow-sm"
      src="https://www.youtube-nocookie.com/embed/FvsrtlzIFD4?si=HCvjcDehFqhzE-81&controls=0"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>`}
    columns={2}
    items={[
      {
        description: 'Cerimônias',
        icon: 'tabler:candle',
        classes: {
          icon: 'bg-amber-600 dark:bg-amber-600',
        },
      },
      {
        description: 'Lanches',
        icon: 'tabler:chef-hat',
        classes: {
          icon: 'bg-rose-600 dark:bg-rose-500',
        },
      },
      {
        description: 'Reuniões',
        icon: 'tabler:users-group',
        classes: { icon: 'bg-indigo-600 dark:bg-indigo-600' },
      },
      {
        description: 'Eventos',
        icon: 'tabler:calendar',
        classes: {
          icon: 'bg-sky-600 dark:bg-sky-600',
        },
      },
      {
        description: 'Acampamentos',
        icon: 'tabler:tent',
        classes: {
          icon: 'bg-emerald-600 dark:bg-emerald-700',
        },
      },
      { description: 'e muito mais!', classes: { icon: 'hidden' } },
    ]}
  >
    <Fragment slot="content">
      <p class="mb-4">
        O Movimento Escoteiro é, acima de tudo, um movimento educativo, que complementa a formação das crianças,
        adolescentes e jovens. Assim, auxiliamos outros agentes, como a escola, o núcleo religioso e, principalmente, a
        ação da família.
      </p>
      <p class="mb-4">
        A participação da família é muito importante no processo educativo e, por isso, contamos com sua participação e
        seu apoio em diversos momentos:
      </p>
    </Fragment>
  </Content>
</Layout>
