---
import merge from 'lodash.merge';

import { SITE, METADATA, I18N } from 'astrowind:config';
import type { MetaData } from '~/types';
import { getCanonical } from '~/utils/permalinks';
import { adaptOpenGraphImages } from '~/utils/images';

export interface Props extends MetaData {
  ignoreTitleTemplate?: boolean;
}

const {
  title,
  ignoreTitleTemplate = false,
  canonical = String(getCanonical(String(Astro.url.pathname))),
  robots = {},
  description,
  openGraph = {},
  twitter = {},
} = Astro.props;

const seoProps = merge(
  {
    title: '',
    titleTemplate: '%s',
    canonical: canonical,
    noindex: true,
    nofollow: true,
    description: undefined,
    openGraph: {
      url: canonical,
      site_name: SITE?.name,
      images: [],
      locale: I18N?.language || 'en',
      type: 'website',
    },
    twitter: {
      cardType: openGraph?.images?.length ? 'summary_large_image' : 'summary',
    },
  },
  {
    title: METADATA?.title?.default,
    titleTemplate: METADATA?.title?.template,
    noindex: typeof METADATA?.robots?.index !== 'undefined' ? !METADATA.robots.index : undefined,
    nofollow: typeof METADATA?.robots?.follow !== 'undefined' ? !METADATA.robots.follow : undefined,
    description: METADATA?.description,
    openGraph: METADATA?.openGraph,
    twitter: METADATA?.twitter,
  },
  {
    title: title,
    titleTemplate: ignoreTitleTemplate ? '%s' : undefined,
    canonical: canonical,
    noindex: typeof robots?.index !== 'undefined' ? !robots.index : undefined,
    nofollow: typeof robots?.follow !== 'undefined' ? !robots.follow : undefined,
    description: description,
    openGraph: { url: canonical, ...openGraph },
    twitter: twitter,
  }
);

const openGraphData = await adaptOpenGraphImages(seoProps.openGraph, Astro.site);

const finalTitle =
  seoProps.titleTemplate && seoProps.title ? seoProps.titleTemplate.replace('%s', seoProps.title) : seoProps.title;
---

<title>{finalTitle}</title>

<link rel="canonical" href={seoProps.canonical} />

{seoProps.description && <meta name="description" content={seoProps.description} />}

<meta
  name="robots"
  content={`${seoProps.noindex ? 'noindex' : 'index'},${seoProps.nofollow ? 'nofollow' : 'follow'}`}
/>

<!-- Open Graph -->
<meta property="og:title" content={finalTitle} />
<meta property="og:type" content={openGraphData?.type || 'website'} />
<meta property="og:url" content={openGraphData?.url} />
<meta property="og:site_name" content={openGraphData?.site_name} />
<meta property="og:locale" content={openGraphData?.locale} />

{seoProps.description && <meta property="og:description" content={seoProps.description} />}

{
  openGraphData?.images?.map((img: OpenGraphImgage) => (
    <>
      <meta property="og:image" content={img.url} />
      {img.width && <meta property="og:image:width" content={img.width} />}
      {img.height && <meta property="og:image:height" content={img.height} />}
      {img.alt && <meta property="og:image:alt" content={img.alt} />}
    </>
  ))
}

<!-- Twitter -->
<meta name="twitter:card" content={seoProps.twitter?.cardType || 'summary'} />

{seoProps.twitter?.site && <meta name="twitter:site" content={seoProps.twitter.site} />}

<meta name="twitter:title" content={finalTitle} />

{seoProps.description && <meta name="twitter:description" content={seoProps.description} />}

{openGraphData?.images?.[0]?.url && <meta name="twitter:image" content={openGraphData.images[0].url} />}
